.home-container .options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem 0;
  }
  
  .home-container .options .option {
    text-decoration: none;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--white);
    padding: 2rem;
    border-radius: 1.5rem;
    min-width: 20rem;
    border: var(--option-border);
  }
  
  .home-container .options .option img {
    height: 10rem;
  }
  
  .home-container .options .option p {
    font-size: 1.2rem;
  }