.MainEditor {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Progress {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 10%;
}

.Steps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Steps button {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.Steps button:hover {
    background-color: rgba(202, 17, 51, 0.8);
}

.Steps.active button{
    background-color: #CA1133;
}

.Form {
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Question {
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Choice {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}

.Choice button {
    height: 50%;
    width: 25%;
}

.Choice .selected {
    background-color: #CA1133;
}

.Footer {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Footer button {
    width: 10em;
    height: 3em;
    background-color: #CA1133;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}


