.button-primary, .button-secondary, .button-back, .button-settings {
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 500;
}

.button-primary {
    background: var(--primary);
    color: var(--white);
}

.button-secondary {
    background-color: var(--bg);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.button-back {
    background-color: var(--primary);
    border-radius: .5rem;
}

.button-back img {
    height: 1.5rem;
}

.button-settings {
    padding: 0;
    background-color: transparent;
}