:root {
    --variable-color: purple;
    --gray: #ABABAB;
    --white: #FFF;
    --black: #000;
}

#root {
    height: 100vh;
    overflow: hidden;
    background: var(--bg);
    --layout-padding: 0 5rem;
}

#root.dark {
    --primary: var(--variable-color);
    --login-bg: var(--variable-color);
    --login-font-color: var(--white);
    --font-color: var(--white);
    --secondary-font-color: #ABABAB;
    --bg: var(--variable-color);
    --primary-button-bg: var(--variable-color);
    --primary-button-border: var(--white);
    --login-button-border: var(--white);
    --input-border: none;
    --primary-button-hover-bg: var(--white);
    --primary-button-hover-border: 2px solid transparent;
    --primary-button-border: var(--white);
    --option-border: var(--white) 1px solid;
    --navbar-border: 1px solid var(--white);
    --login-figure-bg: var(--white);
}

#root.light {
    --primary: var(--variable-color);
    --bg: var(--white);
    --login-bg: var(--white);
    --primary-button-bg: var(--variable-color);
    --secondary-font-color: #ABABAB;
    --login-button-border: var(--variable-color);
    --input-border: 1px solid var(--black);
    --primary-button-hover-bg: var(--white);
    --primary-button-hover-border: 2px solid var(--variable-color);
    --primary-button-hover-color: var(--variable-color);
    --font-color: var(--black);
    --option-border: none;
    --login-font-color: var(--variable-color);
    --navbar-border: none;
    --login-figure-bg: var(--variable-color);
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--font-color);
    font-family: Roboto, sans-serif;
}


body * {
    box-sizing: border-box;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

input[type="submit"], input[type="button"], button, a {
    cursor: pointer;
}