:root {
    --primary: #C83A61;
    --primary-hover: #a1102f;
    --primary-active: #891230;
    --font-color: #C83A61;
    --secondary-font-color: #ABABAB;
    --white: #FFF;
    --black: #000;
    --layout-padding: 0 5rem;
}

#root {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--font-color);
    font-family: Roboto, sans-serif;
}

body * {
    box-sizing: border-box;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

input[type="submit"], input[type="button"], button, a {
    cursor: pointer;
}